* {
  font-family: "Open Sans", sans-serif;
}
:root {
  --main-color: #008682;
  --hover-color: #045657;
}
.btn-confirm {
  background-color: var(--main-color);
  transition: all 0.3s;
}
.btn-confirm:hover {
  background-color: var(--hover-color);
}
