* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

:root {
  --main-color: #008682;
}

/* Global Container */
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Table and Page Layout */
main .container {
  font-size: 1.6rem;
}

main table {
  width: 100%;
  margin-top: 2rem;
  border-spacing: 0;
  border-collapse: collapse;
}

thead tr {
  background-color: var(--main-color);
  border-radius: 10px;
}

main table th,
main table td {
  padding: 1.5rem;
  text-align: start;
  vertical-align: middle;
  text-transform: capitalize;
}

main table th {
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
}

main table td {
  font-size: 1.8rem;
  color: #333;
}
main table td:last-child {
  text-align: start;
}
main tbody tr {
  border-bottom: 1px solid #ccc;
}

main tbody tr:last-child {
  border-bottom: none;
}

main tbody td a {
  color: #333;
  font-weight: 500;
}

.btn {
  padding: 0.8rem 1.7rem;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease;
  font-size: 1.6rem;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
}

.btn:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(0);
}

.invoice {
  background-color: var(--main-color);
  margin-left: 10rem;
  padding: 1rem 2rem;
  color: white;
}

/* Responsive Design */

/* Small Screen (Phones) */
@media (max-width: 767px) {
  html {
    font-size: 33%;
  }

  .container {
    padding: 0 10px;
  }
  .btn {
    width: auto;
    font-size: 1.4rem;
    margin: 1rem 0;
  }

  .invoice {
    margin-left: 0;
    text-align: center;
  }
}
main table th:first-child {
  border-radius: 10px 0 0 10px;
}

main table th:last-child {
  border-radius: 0 10px 10px 0;
}
/* Medium Screens (Tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 55%;
  }

  html {
    font-size: 55%;
  }

  .container {
    width: 80%;
    max-width: 750px;
    padding: 0 15px;
  }
}

/* Large Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (max-width: 767px) {
  td .btn {
    color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;  
  }
  td .btn::before {
    content: "\f543";
    font-weight: 900;
    font-family: "font awesome 5 free";
    position: absolute;
    color: #f1f1f1;
    font-size: 16px;
    
  }
}
